# Web framework
fastapi
uvicorn[standard]

# Database
pymongo
motor

# AI / Agents
openai
langchain
langchain-openai
langchain-tavily
langchain-core


# Data validation
pydantic
python-dotenv

# HTTP
httpx
